
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


body {
    background-color: #FAF9EE;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 40px;
}

.container {
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    max-width: 500px;
    width: 100%;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 60px;
}


h1 {
    text-align: center;
    color: #87987d;
    margin-bottom: 25px;
    font-size: 2rem;
    font-weight: 600;
}


.section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #FAF9EE;
    border-radius: 12px;
    border: 1px solid #87987d;
}


label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #555;
}


input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #DCCFC0;
    border-radius: 10px;
    outline: none;
    transition: border 0.3s ease;
    margin-bottom: 10px;
}

input:focus {
    border-color: #87987d;
}


button {
    background-color: #87987d;
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #8e9d8c;
}


#user {
    margin-top: 25px;
    text-align: center;
    background-color: #eeeeeedc;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 40px;
}

#user h2 {
    color: #5f6d58;
    margin-bottom: 8px;
}

#user h3 {
    color: #90877c;
    font-weight: 500;
}
